<div class="container">
  <% if logged_in?(:editor) && @article.user == current_user %>
    <div class="display-2">Edit Article</div>
    <%= render 'form' %>
  <% else %>
    <h3>You can only edit your own articles </h3>
  <% end %>

</div>
