<div class="container">
  <div class="display-3 text-center">
    <span>Users</span>
  </div>
  <div>
    <% @users.each do |user| %>
      <h2><%= user.email %></h2>
    <% end %>
  </div>
</div>
